
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  color: #fff !important;;
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;

}
body{
  background: rgb(20,20,25) !important;
background: linear-gradient(90deg, rgba(20,20,25,1) 6%, rgba(0, 0, 0, 0.904) 84%, rgba(0,3,11,1) 100%, rgb(11, 15, 15) 100%);}

  /* .navbar{
  padding: 15px 18px !important;
}   */
.bg-light{
  background:transparent !important;
}
.navbar{
transition: all 0.2s;
}  
.navbar-scrolled{
  background-color: black !important;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15) !important;
}
.nav-item{
  margin: 0px 10px;} 

.nav-item .nav-link{
  color: #fff!important ;
  font-size: 16px; 
  text-transform: uppercase;
  font-weight: 600;
  font-weight: 500px;
  position: relative;
}
.nav-link::after{
content: '';
position: absolute;
bottom:-1px;
left:0px;
background-color: #03C4EB;
width:0%;
height: 3px;
transition: 0.4s ease-in-out;
}
.nav-item :hover.nav-link::after{
  width: 100%;
}
.nav-link:hover{
  color:#03C4EB !important;
}
  
  .navbar-toggler{
  padding: 1px 5px;
  font-size: 18px;
   line-height: 0.3px; 
  background-color: #0000003d !important; }

  #active{
    color: #03C4EB !important;
  }

/*BACKGROUND IMAGE*/



  .hero-slide {
    width: 100%;
    padding: 190px 0;
    text-align: center;
} 

.hero-slide h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    font-size: 54px;
    margin-bottom: 15px;
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 2px #000;
}

/*CARD CSS*/
.card-product{
     margin-top: 60px;
     margin-bottom: 20px;
     background-color: #ffffff10!important;
     text-align: center;
     box-shadow: rgba(224, 229, 233, 0.3) 0px 1px 2px 0px, rgba(175, 178, 180, 0.15) 0px 2px 6px 2px; 
     transition: all 0.3s;
    
}
.card-product:hover{
  transform:translateY(-14px) !important;
}
.img-card{
    height: 250px !important;
    
}
.img-card:hover{
    filter: brightness(50%);
}
  

.card-title{
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff !important;
    width: 100%;
    padding: 5px 0px;
    margin: 10px 0px;
    margin-bottom: 20px !important;
}
.card-text{
    color: #fff !important;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 2px;
}

/*CARD ENDED*/

/*MEDIA QUERYY*/
@media (max-width:991px) {
    .navbar{
      position: relative;
      background-color: #161515!important;
    }
   .navbar{
      background-color: rgb(39, 38, 38) !important;
     }
     
  .nav-item .nav-link{
    
   color: white !important;
   font-size: 17px;
   font-weight: 600;
    }
  
   .navbar-nav{
     display: flex;
     justify-content: center;
     align-items: center;
   
   }
   .navbar-nav .nav-item{
     margin: 8px 0px;
   }
   }
  @media (max-width:490px){
  
    .navbar img{
      width:160px !important;
    }
    .hero-slide {
      padding: 50px 0;
  }
  .hero-slide h3{
      font-size: 40px;
  }
  }
  





